<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <appSettings>        
    <add key="diasManterLog" value="-120" />
    <add key="LogPath" value="C:\Log\RedmineManager" />
    <add key="LogFileName" value="RedmineManager" />
   
    <add key="EndPoint" value="" />
        
    <add key="Usuario" value="" />
    <add key="Senha" value="" />s

    <add key="FilePath" value="C:\Log\RedmineManager\Arquivos" />
    <add key="FileName" value="Lista.txt" />

  </appSettings>
</configuration>